<div class="dialog">

    <mat-dialog-content>

        <div>
            <input type="text" placeholder="Title" #title [(ngModel)]="data.title">
          </div>
      
          <div>
            <input type="text" placeholder="Creator" #creator [(ngModel)]="data.creator">
          </div>
      
          <div>
            <input type="text" placeholder="Description" #desc [(ngModel)]="data.description">
          </div>
      
          <div>
            <input type="text" placeholder="Image URL" #img [(ngModel)]="data.imgURL">
          </div>
      
          <div>
            <input type="text" placeholder="type" #type [(ngModel)]="data.type">
          </div>
      
          <div>
            <input type="text" placeholder="tags" #tags [(ngModel)]="data.tags">
          </div>
  
      <mat-dialog-actions>
        <button mat-raised-button color="primary" type="submit" [mat-dialog-close]="data">Add</button>
        <button mat-raised-button color="accent" (onclick)="closeDialog()">Close</button>
      </mat-dialog-actions>
  
    </mat-dialog-content>
  
  </div>

  <!-- <div class="dialog">

    <mat-dialog-content>
      ID (ONLY FOR UPDATING)<input matInput placeholder="0" #id>
  
      <div>
        <input type="text" placeholder="Title" #title [(ngModel)]="newGame.title">
      </div>
  
      <div>
        <input type="text" placeholder="Creator" #creator [(ngModel)]="newGame.creator">
      </div>
  
      <div>
        <input type="text" placeholder="Description" #desc [(ngModel)]="newGame.description">
      </div>
  
      <div>
        <input type="text" placeholder="Image URL" #img [(ngModel)]="newGame.imgURL">
      </div>
  
      <div>
        <input type="text" placeholder="type" #type [(ngModel)]="newGame.type">
      </div>
  
      <div>
        <input type="text" placeholder="tags" #tags [(ngModel)]="newGame.tags">
      </div>
  
      <mat-dialog-actions>
        <button mat-raised-button color="primary" type="submit">Add</button>
        <button mat-raised-button color="primary" type="submit">Update</button>
      </mat-dialog-actions>
  
    </mat-dialog-content>
  
  </div> -->