    
    <div>
        <input type="number" placeholder="Id" [(ngModel)]="newGame.id">
    </div>
    
    <div>
        <input placeholder="Title" [(ngModel)]="newGame.title">
    </div>
    
    <div>
        <input placeholder="Description" [(ngModel)]="newGame.description">
    </div>
    
    <div>
        <input placeholder="Publisher" [(ngModel)]="newGame.creator">
    </div>
    
    <div>
        <input placeholder="Image URL" [(ngModel)]="newGame.imgURL">
    </div>
    
    <div>
        <input placeholder="genre" [(ngModel)]="newGame.type">
    </div>
        
    <div>
        <input placeholder="tags" [(ngModel)]="newGame.tags">
    </div>
<!-- id.valueAsNumber, title.value, description.value, publisher.value, imgURL.value, genre.value, tags.value -->
<button (click)="addGameContent()">Add</button>
<span>{{ errorMsg }}</span>