<div class="header">
  <h1>Favourite Games</h1>
</div>

<div>
  <button mat-raised-button color="accent">Verify Version</button>
  <app-app-messages></app-app-messages>
  <div><a routerLink="content" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Content</a></div>
  <div><a routerLink="list" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">The List Route</a></div>
  <div><a routerLink="content/2" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Content By Id (defautl id of 2)</a></div>
  <router-outlet></router-outlet>
  

</div>