<!-- NO IMAGE LINK: https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/2048px-No_image_available.svg.png -->
<div class="Card">
    <header>{{content ? content.title : ""}}</header>
    <p>{{content ? content.description : ""}}</p>
    <p>{{content ? content.creator : ""}}</p>
    <p appHoverAffect>{{content ? content.type : ""}}</p>
    <p>Tags: {{content ? content.tags : ""}}</p>
    <!-- <img [src]="content ? content.imgURL : '' " (click)="displayId()" [alt]="content ? content.title : 'image'"/> -->
    <!--NG SWITCH-->
    <div [ngSwitch]="content?.imgURL">
        <img *ngSwitchCase="content?.imgURL" [src]="content?.imgURL"/>
        <img *ngSwitchCase="''" src="https://st4.depositphotos.com/14953852/24787/v/600/depositphotos_247872612-stock-illustration-no-image-available-icon-vector.jpg"/>  
    </div>

    <!--NG IF ELSE-->
    
    <!-- <div *ngIf="content?.imgURL !== '' else noImage">
        <img [src]="content?.imgURL">
    </div>
    <ng-template #noImage>
        <img src="https://st4.depositphotos.com/14953852/24787/v/600/depositphotos_247872612-stock-illustration-no-image-available-icon-vector.jpg" alt="no image">
    </ng-template> -->

    <br>
    <br>
</div>